/* Ajustes a parte del bootstrap */
body {

  background: #0a91ad; padding-top: 50px /*Se corre todo el contenido un poco más abajo para que no se tape con la barra de contenidos*/
}


:hover{
-webkit-transition: color 1s ease-in-out;
-moz-transition: color 1s ease-in-out;
-o-transition: color 1s ease-in-out;
transition: color 1s ease-in-out;
}

::selection{background-color:rgba(255,255,255,255);}

header{padding:2em 0;}
header h1{}
header h2{font-weight:400;}

article{padding-bottom:1.5em;}
article h5 {padding-bottom:1em;}
article h5 a{padding-right:1em;}
article figure{
  margin-right:2em;
  margin-bottom:1em;
  margin-top:0.25em;
  float:left;
  width:40%;
  height:auto;
  overflow: hidden;
}  /*cuando la pantalla esté en 768px de ancho max, se lee lo que sale a continuación*/
@media (max-width: 768px) {
article figure{width:100%; padding-right:0; clear:both;}
}
article figure img{width:100%; height:auto;filter:grayscale(100%); }
article:hover figure img{
  filter:grayscale(0);
  } /*filtro en las imagenes*/

aside{padding-top:0.5em;}

aside h3{
  margin-left:0.6em;
  color:rgba(white);
  font-size:1.25em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 800;
  margin-bottom: 1em;
}

.centralo {
  padding: 2em;
  text-align: center;
}

.algunos{
margin-top: 4em;
margin-bottom: 2em;
}

.wow{
  margin-bottom: 2em;
}

a:link
{
 text-decoration:none;
}

h3, h5, a.credits, a.navbar-item {
  font-family: "Dosis";
}

body, h3, h5 {
  color: white;
}

.iconin {
  margin: 2em;
}
footer{border-top:1px solid white; padding:1em 0; margin:3em 0 0 0;}
